<div class="container mx-auto px-5 flex justify-between items-start mt-16">
    <app-sidebar></app-sidebar>
    <div class="w-full">
        <div class="w-full relative flex flex-col justify-center items-start border bg-gray-100 px-3 py-5 mb-4 rounded-lg">
            <div class="w-full flex justify-between items-center mb-3">
                <form class="w-full flex flex-col gap-y-10">
                    <div class="w-full flex justify-between items-center gap-x-2">
                        <div class="w-full flex flex-col">
                            <input class="border p-2 rounded-lg outline-none" type="text" placeholder="Serach by name"
                                value="">
                        </div>
                        <div class="w-full flex flex-col">
                            <input class="border p-2 rounded-lg outline-none" type="text" placeholder="Search by company"
                                value="">
                        </div>
                        <div class="w-full flex flex-col">
                            <div class="relative w-full flex justify-start">
                                <div mat-button [matMenuTriggerFor]="dates" class="flex justify-between items-center w-full border bg-white p-2 rounded-lg cursor-pointer">  
                                    <span>Publication date </span>
                                    <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none"
                                        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </div>
                                <mat-menu #dates="matMenu" class="w-52 p-2">
                                    <button class="w-full text-left pl-4 hover:bg-gray-100 py-2">last 24hours</button>
                                    <button class="w-full text-left pl-4 hover:bg-gray-100 py-2">last 3days</button>
                                    <button class="w-full text-left pl-4 hover:bg-gray-100 py-2">last 7 hours</button>
                                    <button class="w-full text-left pl-4 hover:bg-gray-100 py-2">last 14 hours</button>
                                    <button class="w-full text-left pl-4 hover:bg-gray-100 py-2">all</button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="w-full flex flex-col">
                            <input class="border p-2 rounded-lg outline-none" type="date" placeholder="Search by city"
                                value="">
                        </div>
                    </div>
                </form>
                <div class="w-80 flex justify-end items-center">
                    <button class="w-20 flex justify-center items-center border rounded-lg p-2 bg-blue-500 text-white">
                        <svg class="w-5 h-5" fill="white" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg">
                            <path
                            d="m16.604 15.868-5.173-5.173A6.468 6.468 0 0 0 13 6.472c0-3.584-2.916-6.5-6.5-6.5a6.466 6.466 0 0 0-4.598 1.903A6.457 6.457 0 0 0 0 6.472c0 3.584 2.916 6.5 6.5 6.5a6.47 6.47 0 0 0 4.224-1.569l5.173 5.173.707-.708zM6.5 11.972a5.506 5.506 0 0 1-5.5-5.5 5.455 5.455 0 0 1 1.61-3.889A5.462 5.462 0 0 1 6.5.972c3.032 0 5.5 2.467 5.5 5.5 0 3.032-2.468 5.5-5.5 5.5z" />
                        </svg>
                        <span class="ml-1">Search</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-full relative flex flex-col justify-center items-start py-5">
            <div class="flex flex-col gap-y-2 w-full">
                <app-small-card-job></app-small-card-job>
                <app-small-card-job></app-small-card-job>
                <app-small-card-job></app-small-card-job>
                <app-small-card-job></app-small-card-job>
                <app-small-card-job></app-small-card-job>
            </div>
        </div>
        <!-- <div class="w-full relative flex flex-col justify-center items-start">
            <div class="flex flex-col gap-y-2 w-full">
                <app-list-applies-job></app-list-applies-job>
            </div>
        </div> -->
    </div>
</div>