<div class="">
    <h1 class="text-black font-medium text-left">Offer types</h1>
        <div class="border w-full h-28 mt-6 my-28 border-l-0 border-r-0">
          <div class="h-full">
              <div class="h-full flex justify-between items-center">
                <div class="flex justify-center items-center h-28 w-28">
                  <img src="assets/images/service1.png" class="w-16 h-16">
                </div>
                <div class="flex justify-center items-center h-28 w-28">
                  <img src="assets/images/service2.png" class="w-16 h-16">
                </div>
                <div class="flex justify-center items-center h-28 w-28">
                  <img src="assets/images/service3.png" class="w-16 h-16">
                </div>
                <div class="flex justify-center items-center h-28 w-28">
                  <img src="assets/images/service4.png" class="w-16 h-16">
                </div>
                <div class="flex justify-center items-center h-28 w-28">
                  <img src="assets/images/service5.png" class="w-16 h-16">
                </div>
                <div class="flex justify-center items-center h-28 w-28">
                  <img src="assets/images/service6.png" class="w-16 h-16">
                </div>
                <div class="flex justify-center items-center h-28 w-28">
                  <img src="assets/images/service7.png" class="w-16 h-16">
                </div>
                <div class="flex justify-center items-center h-28 w-28">
                  <img src="assets/images/service8.png" class="w-16 h-16">
                </div>
                <div class="flex justify-center items-center h-28 w-28">
                  <img src="assets/images/service9.png" class="w-16 h-16">
                </div>
              </div>
            </div>
      </div>
</div>
