<div class="w-full relative flex flex-col justify-center items-start border bg-gray-50 px-3 py-5 rounded-lg">
    <span class="absolute -top-4 left-3 border p-2 font-medium rounded-lg bg-white">About</span>
    <div class="w-full flex justify-start items-start mt-5">
        <div class="w-1/3 flex flex-col justify-start items-start mr-3">
            <div class="flex">
                <img class="w-14 h-14 rounded-full" src="assets/images/profile.jpg" alt="" srcset="">
                <div class="flex flex-col justify-center items-start ml-2">
                    <label for="file" class="border px-4 py-2 ml-2 rounded-lg">Update Image</label>
                    <input id="file" class="hidden border p-2 ml-2 rounded-lg" type="file" value="Update Image">
                </div>
            </div>
            <p class="pt-3 text-xs">Tell us about yourself so startups know who you are.</p>
        </div>
        <form class="w-2/3 flex flex-col gap-y-10 border rounded-lg p-4">
            <div class="w-full flex justify-between items-center gap-x-2">
                <div class="w-full flex flex-col">
                    <label for="fullname" class="font-medium">Your name *</label>
                    <input class="border p-2 rounded-lg outline-none" type="text" placeholder="full name"
                        value="idriss ait haddou">
                </div>
                <div class="w-full flex flex-col">
                    <label for="fullname" class="font-medium">Where are you based? *</label>
                    <input class="border p-2 rounded-lg outline-none" type="text" placeholder="full name"
                        value="Safi-marakech">
                </div>
            </div>
            <div class="w-full flex justify-between items-center gap-x-2">
                <div class="w-full flex flex-col">
                    <label for="fullname" class="font-medium">Email *</label>
                    <input class="border p-2 rounded-lg outline-none" type="text" placeholder="full name"
                        value="idrissaithaddou@gmail.com">
                </div>
                <div class="w-full flex flex-col">
                    <label for="fullname" class="font-medium">Telephone *</label>
                    <input class="border p-2 rounded-lg outline-none" type="text" placeholder="full name"
                        value="0601723598">
                </div>
            </div>
            <div class="w-full flex justify-end items-center gap-x-2">
                <button type="submit"> <app-button-primary [text] = "'Save'" [width] = "100"></app-button-primary></button>
            </div>
        </form>
    </div>
</div>