<div class="flex flex-col gap-y-3">
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
    <app-card-job></app-card-job>
</div>