<div class="h-96 flex justify-start items-start mt-48">
  <div class="flex flex-col justify-center h-full w-1/2">
    <h1 class="text-black font-medium">How to use our website CleanUp</h1>
    <div class="flex flex-col justify-start items-start gap-y-1 mt-4">
      <span>- Open your account first</span>
      <span>- Prepare your profile</span>
      <span>- Find jobs that match your skills</span>
      <span>- Apply to work</span>
      <span>- You can continue this work</span>
      <span>- We wish you all the best and more, and we are always with you</span>
    </div>
    <app-button-primary
      [text]="'Sign up now'"
      [width]="100"
      class="mt-6"
    ></app-button-primary>
  </div>
  <div class="w-1/2 h-full flex justify-end items-center">
    <img src="assets/images/explain2.png" alt="" class="h-full w-96" />
  </div>
</div>
