<form>
    <div class="flex justify-start items-center pb-2 border-b-2">
        <img class="w-12 h-12 rounded-full" src="assets/images/service1.png" alt="" srcset="">
        <div class="flex flex-col justify-center items-start ml-2">
            <span class="font-medium text-lg">A woman for the minaj</span>
            <span>Entreprise X</span>
        </div>
    </div>
    <mat-dialog-content class="mat-typography">
        <div class="flex flex-col gap-y-10 p-4 mt-4">
            <div class="w-full flex justify-between items-center gap-x-2">
                <div class="flex flex-col w-96">
                    <label for="fullname" class="font-medium">Title *</label>
                    <input class="border p-2 rounded-lg outline-none" type="text" placeholder="title"
                        value="">
                </div>
                <div class="flex flex-col items-start pl-20 w-96">
                    <label for="fullname" class="font-medium">Activated *</label>
                    <div class="flex justify-start items-center">
                        <input class="border p-2 rounded-lg outline-none mr-2" type="checkbox" placeholder="">
                        <span>can you launch offer after create</span>
                    </div>
                </div>
            </div>
            <div class="w-full flex justify-between items-center gap-x-2">
                <div class="w-full flex flex-col">
                    <label for="fullname" class="font-medium">Where are based this job ? *</label>
                    <input class="border p-2 rounded-lg outline-none" type="text" placeholder="Where are based this job"
                        value="">
                </div>
            </div>
            <div class="w-full flex justify-between items-center gap-x-2">
                <div class="w-full flex flex-col">
                    <label for="fullname" class="font-medium">Description *</label>
                    <textarea class="border p-2 rounded-lg outline-none" rows="6" placeholder="Description ..."
                        value=""></textarea>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div mat-button mat-dialog-close class="flex gap-x-2">
            <a><app-button-primary [text]="'Create'" [width]="0"></app-button-primary></a>
            <app-button-white [text]="'Cancel'" [width]="0"></app-button-white>
        </div>
    </mat-dialog-actions>

</form>