<div class="hero h-full flex justify-between items-center" style="height: calc(100vh - 96px);">
    <div class="flex flex-col w-1/2">
        <p class="text-black text-5xl font-medium">We are all with the cleaners</p>
        <p>Le site s'adresse principalement aux particuliers et aux entreprises qui cherchent</p>
        <p>des prestataires de  services de nettoyage professionnels pour leur maison, leur</p>
        <p>café, leur hôtel, leur lieu de travail, leur chambre ...</p>
        <a  routerLink="/jobs"><app-button-white [text] = "'Find Jobs'" [width] = "100" class="mt-6"></app-button-white></a>
    </div>
    <div class="relative flex flex-col justify-end items-end w-1/2 h-full">
        <img src="assets/images/clean1.png" alt="" class="absolute z-50 h-full w-72 py-4">
        <img src="assets/images/bgBlocks.png" alt="" class="-mb-10 -mr-10" style="width: 90%; height: 90vh;">
    </div>
</div>
