<div class="relatove z-50 container mx-auto px-6">
    <div class=" h-24 flex justify-between items-center border border-gray-400 border-t-0 border-l-0 border-r-0">
        <a routerLink="/"><img src="assets/logo.png"></a>
        <!-- <div class="h-full flex justify-end items-center gap-x-3">
            <ul class="flex gap-x-8 mr-10">
                <li class="cursor-pointer"><a routerLink="/">Home</a></li>
                <li class="cursor-pointer"><a routerLink="/jobs">Jobs</a></li>
                <li class="cursor-pointer">Conatct us</li>
            </ul>
            <a routerLink="/auth/sign-in"><app-button-white [text] = "'Sign in'" [width] = "0"></app-button-white></a>
           <a routerLink="/auth/sign-up"> <app-button-primary [text] = "'Sign up'" [width] = "0"></app-button-primary></a>
        </div> -->
        <div class="h-full flex justify-end items-center gap-x-3">
            <div class="search-container flex justify-end items-center h-full">
                <form action="/search" method="get" class="flex justify-end items-center">
                    <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search">
                    <label class="button searchbutton flex flex-col justify-center items-center " for="searchright">
                        <svg class="w-5 h-5" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m16.604 15.868-5.173-5.173A6.468 6.468 0 0 0 13 6.472c0-3.584-2.916-6.5-6.5-6.5a6.466 6.466 0 0 0-4.598 1.903A6.457 6.457 0 0 0 0 6.472c0 3.584 2.916 6.5 6.5 6.5a6.47 6.47 0 0 0 4.224-1.569l5.173 5.173.707-.708zM6.5 11.972a5.506 5.506 0 0 1-5.5-5.5 5.455 5.455 0 0 1 1.61-3.889A5.462 5.462 0 0 1 6.5.972c3.032 0 5.5 2.467 5.5 5.5 0 3.032-2.468 5.5-5.5 5.5z" />
                        </svg>
                    </label>
                </form>
            </div>
            <button mat-button [matMenuTriggerFor]="notification">
                <svg class="w-6 h-6 icon line-color" viewBox="0 0 24 24" data-name="Line Color"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 18H9a3 3 0 0 0 3 3h0a3 3 0 0 0 3-3Z"
                        style="fill:none;stroke:#2ca9bc;stroke-linecap:round;stroke-linejoin:round;stroke-width:2" />
                    <path
                        d="M9.12 3.73A6 6 0 0 1 12 3a6 6 0 0 1 6 6v4l1.38 1.38a2.12 2.12 0 0 1-1.5 3.62H6.12a2.12 2.12 0 0 1-1.5-3.62L6 13V9"
                        style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2" />
                    <path data-name="secondary" d="M10 6a3 3 0 0 0-3-3h0a3 3 0 0 0-3 3h0a3 3 0 0 0 3 3h0a3 3 0 0 0 3-3Z"
                        style="fill:none;stroke:#2ca9bc;stroke-linecap:round;stroke-linejoin:round;stroke-width:2" />
                </svg>
            </button>
            <mat-menu #notification="matMenu" xPosition="before" class="w-96 p-2">
                <div class="w-full">    
                    <div id="notification" class="h-96 flex flex-col justify-start items-start overflow-y-scroll">
                        <app-list-notification></app-list-notification>
                    </div>
                    <div class="w-full bg-gray-200 flex justify-center items-center p-2">
                        <button class="text-red-600 text-sm font-normal">All delete</button>
                        <svg viewBox="0 0 1024 1024" class="icon w-4 h-4 ml-2 mb-1" xmlns="http://www.w3.org/2000/svg"><path fill="red" d="M160 256H96a32 32 0 0 1 0-64h256V95.936a32 32 0 0 1 32-32h256a32 32 0 0 1 32 32V192h256a32 32 0 1 1 0 64h-64v672a32 32 0 0 1-32 32H192a32 32 0 0 1-32-32V256zm448-64v-64H416v64h192zM224 896h576V256H224v640zm192-128a32 32 0 0 1-32-32V416a32 32 0 0 1 64 0v320a32 32 0 0 1-32 32zm192 0a32 32 0 0 1-32-32V416a32 32 0 0 1 64 0v320a32 32 0 0 1-32 32z"/></svg>
                    </div>
                </div>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="settings"><img class="rounded-full w-10 h-10"
                    src="assets/images/profile.jpg" alt=""></button>
            <mat-menu #settings="matMenu" xPosition="before" class="w-72 p-2">
                <div class="w-full flex justify-start items-center px-2 pb-3 border-b-2">
                    <img class="rounded-full w-10 h-10 border-2" src="assets/images/profile.jpg" alt="">
                    <div class="flex flex-col justify-center items-start pl-2">
                        <span class="text-sm font-medium">Idriss ait haddou</span>
                        <span class="text-xs">idrissaithadou@gmail.com</span>
                    </div>
                </div>
                <div class="flex justify-start items-center px-2 mb-2 mt-3"><span
                        class="text-xs text-gray-500">Personal</span></div>
                <a routerLink="/dashboard"><button class="w-full text-left pl-4 hover:bg-gray-100 py-2">Dashboard</button></a>
                <button class="w-full text-left pl-4 hover:bg-gray-100 py-2">Settings</button>
                <button class="w-full text-left pl-4 hover:bg-gray-100 py-2">Notifications</button>
                <div class="flex justify-start items-center px-2 mb-2 mt-3"><span
                        class="text-xs text-gray-500">Support</span></div>
                <button class="w-full text-left pl-4 hover:bg-gray-100 py-2">Help</button>
                <button class="w-full text-left pl-4 hover:bg-gray-100 py-2">Log out</button>
            </mat-menu>
        </div>
    </div>
</div>