<app-card-notification [title] = "'Title'" [body] = "'A simple info alert with an Give it a click if you like...'" [icon] = "'message'"></app-card-notification>
<app-card-notification [title] = "'Title'" [body] = "'A simple info alert with an Give it a click if you like...'" [icon] = "'job'"></app-card-notification>
<app-card-notification [title] = "'Title'" [body] = "'A simple info alert with an Give it a click if you like...'" [icon] = "'message'"></app-card-notification>
<app-card-notification [title] = "'Title'" [body] = "'A simple info alert with an Give it a click if you like...'" [icon] = "'job'"></app-card-notification>
<app-card-notification [title] = "'Title'" [body] = "'A simple info alert with an Give it a click if you like...'" [icon] = "'message'"></app-card-notification>