<div class="w-80">
    <h1 mat-dialog-title>Delete Job</h1>
    <div mat-dialog-content>
        Would you like to delete this job?
    </div>
    <div mat-dialog-actions class="flex justify-end items-center">
        <div class="flex justify-end gap-x-3">
                <a mat-button mat-dialog-close><app-button-white [text] = "'Cancel'" [width] = "0"></app-button-white></a>
                <a mat-button mat-dialog-close><app-button-primary [text] = "'Delete'" [width] = "0"></app-button-primary></a>
        </div>
    </div>
</div>